extends  ./layout/index
block contenido 
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut aspernatur numquam, quod, deleniti atque laudantium beatae vitae inventore ullam delectus, possimus aut. Officia accusamus sit, aliquam corrupti consequatur tenetur tempore.Atque optio sit molestias illum asperiores. Voluptatibus molestiae aliquam saepe laborum quia soluta 

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum atque perferendis ullam officiis at? Cupiditate, laudantium assumenda, perspiciatis pariatur nisi expedita repellat, totam delectus alias magni harum est inventore.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, minus. Eos minus illum odio unde sed numquam voluptatem natus ullam voluptatibus possimus porro ad, exercitationem fugit recusandae voluptatum facilis soluta?Distinctio culpa natus, assumenda optio impedit ducimus repellat necessitatibus cumque praesentium error voluptatum accusantium nulla recusandae maxime, enim cupiditate reprehenderit. Vel, nostrum assumenda iure iusto eius aliquam nam architecto minima!Obcaecati quaerat perferendis deserunt optio vel debitis ab facilis doloribus, eveniet saepe velit libero corporis iure illum delectus quod ea esse provident. Libero error unde sequi perferendis ipsum porro ullam?

    
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2 Seguridad
                    p.mb-4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore cumque alias officiis animi, quae optio blanditiis nesciunt non error mollitia quisquam quia enim! Tempora recusandae quasi obcaecati, odio iste perspiciatis.
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2 Mejores destinos
                    p.mb-4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore cumque alias officiis animi, quae optio blanditiis nesciunt non error mollitia quisquam quia enim! Tempora recusandae quasi obcaecati, odio iste perspiciatis.
                
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2 Mejores precios
                    p.mb-4 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore cumque alias officiis animi, quae optio blanditiis nesciunt non error mollitia quisquam quia enim! Tempora recusandae quasi obcaecati, odio iste perspiciatis.